In [3]:
### Import libraries ----
import pandas as pd

In [14]:
### Generate data ----
!Python 1_Get_UCDP.py

Traceback (most recent call last):
  File "1_Get_UCDP.py", line 52, in <module>
    df_tot.columns[0] = "date"
  File "/Users/hannahfrank/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py", line 4277, in __setitem__
    raise TypeError("Index does not support mutable operations")
TypeError: Index does not support mutable operations

In [15]:
### Load data ----
df = pd.read_csv('ucdp_month.csv')

In [ ]:
### Import libraries -----
import pandas as pd

### Load UCDP data -----
df = pd.read_csv("https://ucdp.uu.se/downloads/ged/ged221-csv.zip",
                 parse_dates=['date_start',
                              'date_end'],
                 low_memory=False)

### Create blank dataframe -----
df_tot = pd.DataFrame(columns=df.country.unique(),
                      index=pd.date_range(df.date_start.min(),
                                          df.date_end.max()))
# Fill with zeros
df_tot=df_tot.fillna(0)

# For each country
for i in df.country.unique():
    
    # Make subset for country
    df_sub=df[df.country==i]
    
    # For each observation per country
    for j in range(len(df_sub)):
        
        # If ????
        if df_sub.date_start.iloc[j] == df_sub.date_end.iloc[j]:
            df_tot.loc[df_sub.date_start.iloc[j],i]=df_tot.loc[df_sub.date_start.iloc[j],i]+df_sub.best.iloc[j]
        
        # Else ????
        else:
            df_tot.loc[df_sub.date_start.iloc[j]:
            df_sub.date_end.iloc[j],i]=df_tot.loc[df_sub.date_start.iloc[j]: \
                                                  df_sub.date_end.iloc[j],i]+ \
                                                  df_sub.best.iloc[j]/ \
                                                  (df_sub.date_end.iloc[j]- \
                                                  df_sub.date_start.iloc[j]).days

In [ ]:

### Aggregate to month level -----
df_tot=df_tot.resample('M').sum() 
df_tot.reset_index(inplace=True)
df_tot.rename({'index': 'date'}, axis=1)
df_tot['date'].dt.to_period('M')

,date,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Australia,Austria,Azerbaijan,...,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States of America,Uzbekistan,Venezuela,Yemen (North Yemen),Zambia,Zimbabwe (Rhodesia)
0,date,1298.788462,0,0.0,300.273810,0,0.0,0,0,0.000000,...,0.000000,0.000000,0,3.0,0,0.0,0.000000,0.000000,0.0,0.0
1,date,198.715385,0,0.0,427.809524,0,0.0,0,0,0.000000,...,0.000000,0.000000,0,5.0,0,0.0,21.897727,0.000000,0.0,0.0
2,date,2211.050962,0,0.0,415.261905,0,0.0,0,0,0.000000,...,0.000000,0.000000,0,5.0,0,0.0,22.505682,0.000000,0.0,10.5
3,date,510.730769,0,0.0,177.857143,0,0.0,0,0,0.000000,...,97.333333,0.000000,0,0.0,0,0.0,0.000000,0.000000,0.0,0.0
4,date,821.833544,0,0.0,278.592437,0,0.0,0,0,0.000000,...,593.126667,0.000000,0,1.0,0,0.0,0.000000,0.000000,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,date,813.026316,0,0.0,0.000000,0,1.0,0,0,0.857143,...,0.000000,15.082873,0,0.0,0,0.0,1.000000,3212.639990,0.0,0.0
393,date,243.317982,0,0.0,0.000000,0,0.0,0,0,1.000000,...,0.000000,15.310635,0,0.0,0,0.0,0.000000,5431.433057,0.0,0.0
394,date,80.500000,0,0.0,1.000000,0,1.0,0,0,14.000000,...,0.000000,13.151838,0,0.0,0,0.0,0.000000,5790.900966,0.0,0.0
395,date,28.000000,0,0.0,0.000000,0,1.0,0,0,4.000000,...,0.000000,9.613444,0,0.0,0,0.0,0.000000,2273.000000,0.0,0.0
396,date,0.000000,0,0.0,0.000000,0,0.0,0,0,0.000000,...,0.000000,0.000000,0,0.0,0,0.0,0.000000,0.000000,0.0,0.0